<template>
  <div class="row">
    <div
      v-if="loading"
      class="d-flex align-items-center justify-content-center col-12 align-self-center wFullHeight"
    >
      <div
        class="spinner-border text-warning"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div
      v-for="day in observedData"
      :key="day.time"
      :class="{ nightColor: !isDay, dayColor: isDay }"
      class="col-md-2 wBlock text-center"
      style="margin: 1%;"
    >
      <WeatherBlockBasicInfo
        :data="day"
        :is-day="isDay"
      />
    </div>
  </div>
</template>
<script>
// COMPONENTS
import WeatherBlockBasicInfo from '../weather/WeatherBlockBasicInfo.vue'
// endCOMPONENTS
// MIXINS
import functions from '../../mixins/functions'
// endMIXINS
// SERVICES
import forecastService from '../../services/forecastService'
// endSERVICES
export default {
  name: 'TimeMachine',
  props: {
    isDay: {
      type: Boolean,
      required: true
    }, 
    coordinates: {
      type: Object,
      required: true
    }
  },
  components: {
    WeatherBlockBasicInfo
  },
  mixins: [functions],
  data() {
    return {
      dates: [],
      observedData: [],
      loading: true
    }
  },
  mounted: function() {
    this.dates = this.getPreviousDates(30)
    this.getObserved()
  },
  methods: {
    getObserved: function() {
      forecastService.getMultipleForecastsByTime(this.coordinates.latitude, this.coordinates.longitude, this.dates).then(responses => {
        for (let i = 0; i < responses.length; i++) {
          this.observedData.push(responses[i].data.daily.data[0])
        }
        this.loading = false
      }).catch(e => {
        console.log(e)
        this.displayToaster('Ops!', 'Something went wrong. Please reload the page.', 'danger')
      })
    },
  }
}
</script>
<style>

</style>

