<template>
  <div>
    <div><small>{{ unixTimeToDate(data.time) }}</small></div>
    <div style="margin: 5%;">
      <img
        :src="getIcon(this.data.icon)"
        class="img-fluid"
        width="50"
        height="50"
        alt=""
      >
    </div>
    {{ Math.round(data.temperatureHigh) }}°F / {{ Math.round(data.temperatureLow) }}°F 
  </div>
</template>
<script>
// MIXINS
import functions from '../../mixins/functions'
// endMIXINS
export default {
  name: 'WeatherBlockBasicInfo',
  props: {
    isDay: {
      type: Boolean,
      required: true
    }, 
    data: {
      type: Object,
      required: true
    }
  },
  mixins: [functions],
}
</script>
<style>

</style>


