<template>
  <div 
    :class="{ nightColor: !isDay, dayColor: isDay }" 
    class="wBlock text-white"
  >
    <div class="wTempBlock">
      <div class="row">
        <div class="col-3">
          <img 
            :src="getIcon(this.daily.icon)" 
            class="img-fluid pull-right" 
            width="70" 
            height="70" 
            alt=""
          >
        </div>
        <div class="col-9">
          <h4 v-if="daily.hasOwnProperty('temperature')">
            {{ Math.round(daily.temperature) }} °F
          </h4>
          <h4 v-else>
            {{ Math.round(daily.temperatureHigh) }} °F <small>(tomorrow)</small>
          </h4>
          <small>{{ unixTimeToDate(daily.time) }}, {{ daily.summary }}</small>                         
        </div>
        <div class="col-3">
          <img 
            src="../../assets/wIcons/high-temp.png" 
            class="img-fluid pull-left" 
            width="40"
            height="40" 
            alt=""
          >
          <small>{{ Math.round(daily.temperatureHigh) }}°F</small>
          <img 
            src="../../assets/wIcons/low-temp.png" 
            class="img-fluid pull-left" 
            width="40" 
            height="40" 
            alt=""
          >
          <small>{{ Math.round(daily.temperatureLow) }}°F</small>                        
        </div>
        <div class="col-9">
          <div 
            class="btn-group text-center flex-wrap" 
            data-toggle="buttons" 
            style="margin-top: 8%"
          >
            <button
              type="button" 
              class="btn btn-warning btn-sm" 
              :class="{ active: (chartDataType == 'temperature')}" 
              @click="changeChartDataType('temperature')"
            >
              Temperature
            </button>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              :class="{ active: (chartDataType == 'windSpeed')}"
              @click="changeChartDataType('windSpeed')"
            >
              Wind Speed
            </button>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              :class="{ active: (chartDataType == 'humidity')}"
              @click="changeChartDataType('humidity')"
            >
              Humidity
            </button>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              :class="{ active: (chartDataType == 'pressure')}"
              @click="changeChartDataType('pressure')"
            >
              Pressure
            </button>
            <button
              type="button"
              class="btn btn-warning btn-sm"
              @click="toggleSunriseSet"
            >
              {{ showSunriseSet ? 'Hide': 'Show' }} Sunrise/set
            </button>
          </div>
        </div>
        <div
          v-if="showSunriseSet"
          class="col-12 text-center"
          style="margin-top: 2%"
        >
          Sunrise: {{ unixTimeToTime(daily.sunriseTime) }} / Sunset: {{ unixTimeToTime(daily.sunsetTime) }}
        </div>
        <div class="col-12">
          <weatherChart
            :data="this.hourly"
            :type="chartDataType"
          />
        </div>
      </div>
    </div>  
  </div>    
</template>
<script>  
// COMPONENTS
import weatherChart from '../charts/weatherChart.vue'
// endCOMPONENTS
// MIXINS
import functions from '../../mixins/functions'
// endMIXINS
export default {
  name: 'WeatherBlock',
  props: {
    isDay: {
      type: Boolean,
      required: true
    }, 
    daily: {
      type: Object,
      required: true
    }, 
    hourly: {
      type: Array,
      required: true
    }
  },
  components: {
    weatherChart,
  },
  mixins: [functions],
  data () {
    return {
      chartDataType: 'temperature',
      showSunriseSet: false
    }
  },
  mounted: function() {
  },
  methods: {
    changeChartDataType: function(value) {
      this.chartDataType = value
    },
    toggleSunriseSet() {
      this.showSunriseSet = !this.showSunriseSet
    }
  }
}
</script>
<style>

</style>


