<template>
  <div
    class="row"
    :class="{ nightColor: isDay, dayColor: !isDay }"
  >
    <div class="col-md-12 col-sm-12 wHeader">
      <form @submit.prevent="locationFormSubmit">
        <div class="input-group mb-4">
          <input
            type="text"
            class="form-control"
            :placeholder="location.name"
            v-model="location.searchValue"
          >
        </div>
      </form>                  
    </div>
    <div class="col-md-12 col-sm-12">
      <h3
        v-if="location.name != ''"
        class="text-white text-center"
      >
        Weather {{ showForecast ? 'forecast' : 'forecast history' }} for {{ location.name }}:
      </h3>
    </div>
    <div class="col-md-12 col-sm-12 text-center">
      <div
        class="btn-group btn-group-toggle text-center flex-wrap"
        data-toggle="buttons"
      >
        <label class="btn btn-warning btn-sm">
          <input
            type="radio"
            name="options"
            id="option1"
            @click="forecastOrTimeMachine('forecast')"
            autocomplete="off"
          >Show forecast
        </label>
        <label class="btn btn-warning btn-sm">
          <input
            type="radio"
            name="options"
            id="option2"
            @click="forecastOrTimeMachine('timemachine')"
            autocomplete="off"
          > Show the last 30 days
        </label>
      </div>
    </div>
    <div
      v-if="loading"
      class="d-flex align-items-center justify-content-center col-12 align-self-center wFullHeight"
    >
      <div
        class="spinner-border text-warning"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <div
      v-if="showForecast"
      class="col-md-4 col-sm-12"
      style="height: 100%;"
    >
      <WeatherBlock
        :is-day="isDay"
        :daily="location.forecastData.currently"
        :hourly="location.forecastData.hourly.data.slice(0, 24)"
      />
    </div>
    <div
      v-if="showForecast"
      class="col-md-4 col-sm-12"
      style="height: 100%;"
    >
      <WeatherBlock
        :is-day="isDay"
        :daily="location.forecastData.daily.data[1]"
        :hourly="location.forecastData.hourly.data.slice(24, 48)"
      />
    </div>
    <div
      v-if="showForecast"
      class="col-md-4 col-sm-12 text-white"
      style="height: 100%;"
    >
      <div class="row">
        <div
          v-for="day in location.forecastData.daily.data.slice(2, 8)"
          :key="day.time"
          :class="{ nightColor: !isDay, dayColor: isDay }"
          class="col-md-4 offset-md-1 col-sm-4 offset-sm-1 col-10 offset-1 wBlock text-center"
        >
          <WeatherBlockBasicInfo
            :data="day"
            :is-day="isDay"
          />
        </div>
      </div>     
    </div>
    <div
      v-if="showTimeMachine"
      class="col-md-10 offset-md-1 col-sm-10 offset-sm-1 col-10 offset-1 text-white wFullHeight"
      style="height: 100%;"
    >
      <TimeMachine
        :is-day="isDay"
        :coordinates="{latitude: location.latitude, longitude: location.longitude}"
      />   
    </div>
    <footer
      class="footer"
      :class="{ nightColor: isDay, dayColor: !isDay }"
    />
  </div>
</template>

<script>
// COMPONENTS
import WeatherBlock from './weather/WeatherBlock.vue'
import WeatherBlockBasicInfo from './weather/WeatherBlockBasicInfo.vue'
import TimeMachine from './timeMachine/TimeMachine.vue'
// endCOMPONENTS
// MIXINS
import functions from '../mixins/functions'
// endMIXINS
// SERVICES
import forecastService from '../services/forecastService'
import locationService from '../services/locationService'
// endSERVICES
export default {
  name: 'Home',
  components: {
    WeatherBlock,
    WeatherBlockBasicInfo,
    TimeMachine
  },
  mixins: [functions],
  data () {
    return {
      isDay: null,
      nightHours: [18,19,20,21,22,23,0,1,2,3,4,5],
      locationCoordinates: {
        latitude: null,
        longitude: null
      },
      location: {
        searchValue: '',
        name: '',
        latitude: null,
        longitude: null,
        forecastData: {

          hourly: {
            data: []
          }
        },
        hasLocation: false
      },
      loading: true,
      showForecast: false,
      showTimeMachine: false
    }
  },
  beforeMount: function() {
    document.title = 'Weather App'
  },
  mounted: function() {
    this.checkIsDay()
    this.getForecastForCurrentLocation()
  },
  methods:{
    getForecastForCurrentLocation: function() {
      if(!this.location.hasLocation) {
        locationService.getCurrentLocation().then(response => {
          this.setLocation(response.data.location.lat, response.data.location.lng)
          locationService.getLocationNameByCoordinates(this.location.latitude, this.location.longitude).then(response => {
            this.location.name = response.data.results[0].formatted_address
            this.getForecast();
          }).catch(e => {
            console.log(e)
            this.displayToaster('Ops!', 'Something went wrong. Please reload the page.', 'danger')
          })
        }).catch(e => {
          console.log(e)
          this.displayToaster('Ops!', 'Something went wrong. Please reload the page.', 'danger')
        })
      }
    },
    getForecast: function() {
      this.loading = true
      this.showForecast = false
      this.showTimeMachine = false;
      forecastService.getForecast(this.location.latitude, this.location.longitude).then(response => {
        this.location.forecastData = response.data;
        this.location.forecastData.currently.temperatureHigh = this.location.forecastData.daily.data[0].temperatureHigh
        this.location.forecastData.currently.temperatureLow = this.location.forecastData.daily.data[0].temperatureLow
        this.location.forecastData.currently.sunriseTime = this.location.forecastData.daily.data[0].sunriseTime
        this.location.forecastData.currently.sunsetTime = this.location.forecastData.daily.data[0].sunsetTime
        this.location.hasLocation = true
        this.loading = false
        this.showForecast = true
      }).catch(e => {
        console.log(e)
        this.displayToaster('Ops!', 'Something went wrong. Please reload the page.', 'danger')
      })
    },
    setLocation: function(latitude, longitude) {
      this.location.latitude = latitude
      this.location.longitude = longitude
    },
    locationFormSubmit: function(){
      locationService.getCoordinatesByLocationName(this.location.searchValue).then(response => {
        this.location.name = response.data.results[0].formatted_address
        this.setLocation(response.data.results[0].geometry.location.lat, response.data.results[0].geometry.location.lng)
        this.getForecast()
      }).catch(e => {
        console.log(e)
        this.displayToaster('Ops!', 'Something went wrong. Please reload the page.', 'danger')
      })
    },
    checkIsDay: function() {
      var currentHour = new Date().getHours()
      if(this.nightHours.includes(currentHour)){
        this.isDay = false
      }else{
        this.isDay = true
      }
    },
    forecastOrTimeMachine: function(value){
      if (value === 'timemachine') {
        if (!this.showTimeMachine) {
          this.showForecast = false
          this.showTimeMachine = true 
        }     
      }else {
        if (!this.showForecast) {
          this.showForecast = true
          this.showTimeMachine = false           
        }
      }
    }
  }
}


</script>

<style>
  .wHeader{
    margin-top: 50px;
  }
  .wBlock{
    margin-top: 5%;
    border-radius: 5px;
  }
  .wTempBlock{
    padding: 15px;
  }
  .wTempBlockDescription{
    margin-left: 20%;
    margin-top: -15%;
  }
  .dayColor{
    background-color: #007bff;
  }
  .nightColor{
    background-color: #003366;
  }
  .wFullHeight{
    height: 100vh;
  }
  .footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
  }
</style>
